<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Turret+Road:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
  </head>

  <body>
    <h1>Music App</h1>
    <% if logged_in? %>
      <p>Logged in as: <%= current_user.email %></p>
      <form action="<%= session_url %>" method="POST" class='log_out'>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Sign Out">
      </form>
    <% else %>
    <% end %>
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <%= error %>
        <br>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
